
body {
    background-color: #c5c5c5;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    width: 250px;
    background-color: #eeeeee;
    padding: 18px;
    border-radius: 8px;
    border-top: 10px solid #8132a3;
}

.my-img {
width: 50%;
margin-left: 25%;
margin-top: 50px;
margin-bottom: 30px;
justify-self: center;
border-radius: 50%;
}

/* Label*/
h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

/* Value*/
h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}